typing~=3.10.0.0
sacremoses~=0.0.53
click~=8.1.7
tqdm~=4.66.4
numpy~=1.26.4
sacrebleu~=2.4.1
pandas~=2.2.2
bert_score~=0.3.9
setuptools~=69.5.1
matplotlib~=3.8.4
evaluate~=0.4.1
huggingface_hub~=0.23.0
transformers~=4.40.1
peft~=0.10.0
datasets~=2.19.1
nltk~=3.8.1
easse~=0.2.4
stanfordnlp~=0.2.0
plotly~=5.22.0
tseval~=1.0
yattag~=1.15.2
simalign~=0.4
scikit-learn~=1.4.2
dataclasses~=0.8